# Production backend URL
VITE_API_URL=https://forestcare-ai-backend.onrender.com/api

# Firebase Phone Auth config
VITE_FIREBASE_API_KEY=AIzaSyCMMJZmL_dZjQwJuS-oBUqX_7Jdni-izqE
VITE_FIREBASE_AUTH_DOMAIN=forestcareai-c05b0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=forestcareai-c05b0
VITE_FIREBASE_STORAGE_BUCKET=forestcareai-c05b0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=59302454754
VITE_FIREBASE_APP_ID=1:59302454754:web:08e0abe12607532f8445bb

# Change this before deploying if you want a different code.
VITE_PREMIUM_CODE=FORESTCARE-PREMIUM-2026
